/* 
header
 */

.header_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.company_name {
    margin-bottom: 20px;
    text-shadow: black 3px 3px 3px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.company_name span {
    vertical-align: -5px;
    margin-right: 5px;
}

.company_name a {
    text-decoration: none;
    color: white;
}

.company_name:hover {
    opacity: 0.7;
}

.contentsMain {
    padding-top: 100px;
}

.contentsMain main {
    min-height: 100vh;
}
.menu_wrapper {
    width: min(1000px,80vw);
}

.header_menu_ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header_a {
    text-shadow: black 2px 2px 2px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    position: relative;
}

.header_a::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 1.2px;
    position: absolute;
    top: 80%;
    left: 0;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: 0.2s;
}

.header_a:hover::before {
    transform: scale(1, 1);
}

/* 
main
 */

.main_container {
    padding-top: 0;
}

.main_image_pic {
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
    display: flex;
}

.main_h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-shadow: black 3px 3px 3px;
}

/* 
about
 */

.about_container {
    /* background-color: rgb(231, 232, 243); */
    padding: 100px 0 100px 0;
    width: 100%;
    text-align: center;
}

.about_h2 {
    /* color: antiquewhite; */
    font-size: 2.5rem;
    /* margin-right: 50px; */
}

.about_h2:first-of-type {
    /* margin-left: 50px; */
}

.about_h2:last-of-type {
    /* margin-left: 350px; */
}

.about_container {
    /* display: flex; */
}

.example_wrapper {
    display: flex;
}

.example {
    width: 100px;
    height: 50px;
    background-color: rgb(48, 23, 189);
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.about_image_pic {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* object-position: 100% 50%; */
}

/* 
 product 
 */
.product_container {
    background-color: rgb(148, 153, 205);
}

/* 
 information 
 */
.information_container {
    background-color: aquamarine;
}

/* 
 contact 
 */
.contact_container {
    background-color: rgb(199, 129, 194);
}

/* 
 footer
  */
.footer_container {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_h2 {
    padding: 10px 0 10px 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-shadow: black 3px 3px 3px;
    background: linear-gradient(rgb(96, 247, 96), rgb(5, 58, 5));
    margin: 0;
}

.footer_h2 span {
    color: rgb(255, 0, 234);
}

@media screen and (min-width: 500px) {
}

@media screen and (max-width: 500px) {
    .header_container{
        left: 2%;
        transform: translateX(0);
    }
    
    .header_menu_ul {
        display: block;
    }

    .menu_wrapper {
        left: 0;
        transform: translateX(0);
    }

    .footer_h2 {
        font-size: 0.5rem;
    }
}
